/* -------------nav bar-------------- */

body{
    font-family: "sans-serif";
    overflow-x: hidden;
}
.nav-bar-container{
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    background-color:#FFFFFF;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.nav-bar-heading{
    font-size: 1.7rem;
    font-weight: bold;
}
.menu-card  {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    flex-direction: column;
    text-decoration: none;
  

}
.menu-card > ul{
    text-decoration: none;
    line-height: 10px;
}
.donate-btn-card{
    justify-content: center;
    margin: 20px;
    color: black;
    font-size: 1.2rem;
    border: 1px;
    background-color: rgb(193,247,213);
    padding: 10px;
    border-radius: 25px;
}

.donate-btn-card:hover{
    background-color: rgb(53,68,99);
    color: rgb(193,247,213);
}

/* ----------------hero-section------------ */

.hero-container{
    background-image: url("../assets/home/annie-spratt-135307-unsplash.png") ;
    /* height: 800px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 78% center;
    padding: 5%;
}
@font-face {
    font-family: flood-std;
    src: url(../fonts/Flood\ Std\ Regular.otf);
}
.hero-heading{
    color: white;
    padding: 25% 0 5% 0% ;
    font-family: flood-std;
    font-size: 4rem;

}

.hero-card-container{
    background-color: white;
    margin: 10px;
    margin-bottom: 20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hero-card-container-heading{
    padding: 3% 10%;
    background-color: rgb(53,68,99);
    color: white;
    display:flex;
    /* justify-content: center; */
    align-self: center;
    margin-top: -5%;    
}
.hero-card-paragraph{
    padding: 5%;
    font-size: 1.5rem;
    margin: 5%;
    line-height: 2rem;
    
    align-items: center;
    color: rgb(53,68,99);
    font-weight: 700;
    text-align: center;
}
.hero-card-container-link{
    color: rgb(53,68,99);
    padding: 0 10% 10% 10% ;
    display: flex;
    justify-content: center;
}

/* -----------------action-card-------------- */

.actions-card{
    background-color: rgb(193,247,213);
    padding-bottom: 15%;
   
}

.actions-card-main-heading{
    padding: 5% 10%;
    background-color: rgb(53,68,99);
    color: white;
    display:inline-flex;
    justify-content: center;
    align-self: center;
    margin-top: -5%;
    margin-left: 27%;    
    margin-bottom: 10%;
}

.actions-card-articles{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.actions-card-article{    
    width: 40%;
    padding: 3%;
    flex-wrap: wrap;
    line-height: 1.2rem;
    padding-left: 5%;    
}

.actions-card-heading{
    font-size:1.5rem;
    margin-bottom: 5%;
    font-weight: bold;
}

.actions-card-paragraph{
    line-height: 1.5rem;
}

/*-------------------- middle card--------------*/

.middle-container{
    background-color: rgb(53,68,99);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}
.middle-container-heading{
    background-color: white;
    color:rgb(53, 68, 99) ;
    width: 30%;
    padding: 2% 7% 5%;
    display: flex;
    align-self: center;
}

.middle-container-paragraph{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    padding:5%;
    line-height:2rem;
    font-weight: 700;    
    padding-bottom: 25%;
    text-align: center;
}

.middle-container-cards{
    background-color: white;
    padding:10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;

}
.middle-container-cards-img{
    width:100% ;
    height: 200px;
    margin-top: -25%;
}
.middle-container-cards-heading{
    padding:10% 3% 10% 3%;
    font-size: 1.5rem;;
    font-weight: 700;
    margin-left: -4%;
    margin-right: -4%;
    text-align: center;
}
.middle-container-card-paragraph{
    padding: 5% 3% 15% 3%;
    font-size: 1.4rem;
    line-height: normal;
    text-align: center;
}
.middle-container-card-button{
    background-color: rgb(193,247,213);
    border: none;
    display: inline-block;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 5% 10% 5% 10%;
    border-radius: 40px;
    margin-left: 20%;
    margin-right: 20%;
}


/* --------------middle-container2---------------- */

.middle-2-container{
    background-image: url('../assets/home/did-you-know-background.png');
    background-repeat: no-repeat;
   
    background-position:  0%;
    padding: 5%;
    
}
.middle-2-container-heading{
    padding-top:10% ;
    padding-left: 10%;
    color: white;
    font-size: 40px;
    font-family: flood-std;
}
.take-action-btn{
    display: inline-block;
    padding: 4% 2% 4% 2%;
    margin: 5% 0 5% 10% ;
    font-size: large;
    color: black;
    border-radius: 25px;
    background-color: rgb(193,247,213);
    border: none;
    font-weight: 700;
    margin-bottom: 20%;
}
.middle-2-container-cards{
    background-color: white;
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.middle-2-container-cards-heading{
    padding: 5% 10%;
    background-color: rgb(53,68,99);
    color: white;
    display:flex;
    align-self: center;
    margin-top: -15%; 
    
}

.middle-2-container-cards-icons {
      display: flex;
    flex-direction: column;
   justify-content: center;
   padding: 5%;
}

.middle-2-container-cards-paragraph{
    line-height: 1.4rem;
}
.image{
    padding: 10%;
    background-color:rgb(193,247,213) ;
   width: 32px;
   height: 32px;
   margin: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
  
}
.twitter{
    height: 50%;
    
}

.middle-2-container-cards-box{
    display: flex;
    
    
}

.middle-2-container-cards-headings , .middle-2-container-cards-paragraph{
    
    padding: 5%;
}

.middle-2-container-cards-headings{
    font-size: 1.4rem;
    font-weight: 700;
}

/* -----------------middle-3-container----- */
.middle-3-container{
    background-color: white;
    padding: 10%;
    display: inline-block;
    text-align: center;
}
.middle-3-container-img >img{
    display: inline-block;
    width: 100%;
    margin-top: -8%;
    margin-bottom: 10%;
}
.stories{
    background-color: rgb(53,68,99);
    color: white;
    display: inline-block;
    padding: 5% 15%;
    position: relative;
}

.middle-3-container-card{
    background-color:rgb(53,68,99) ;
    color: white;
    padding: 10%;
    margin-bottom: 10%;
}
.middle-3-container-card-main{
    font-size:1.7rem;
    line-height: 2rem;
    padding-bottom: 10%;
}
.middle-3-container-card-text{
    font-size: 0.7rem;
}

/* ----------------middle-4-container------------ */
.middle-4-container{
    background-color:rgb(53,68,99) ;
    text-align: center;
    padding: 10%;
    line-height: 1.2rem;
    color: white;
}

.event{
    display: inline-table;
    background-color: white;
    padding: 3% 10%;
    margin-top: 10%;
    position: relative;
    color:rgb(53,68,99) ;
}

.middle-4-container-img{
    display: inline-block;
    width: 100%;
   
    margin-top: -5%;
    margin-bottom: 10%;
}
.middle-4-container-headings{
    font-size: 2rem;
    line-height: normal;
    font-weight: 700;
    padding: 5%;
}
.middle-4-container-headings-main-heading{
    font-size: 3rem;
    line-height: normal;
    font-family: 'flood-std';
}
.middle-4-container-paragraph{
    font-size: 1.3rem;
    padding: 5%;
    line-height: normal;
}
/* ----------------subscribe------------- */
.subscribe{
    background-color: rgb(193,247,213);
    padding: 10%;

}
.subscribe-body{
    padding:10% 0 0 0;

}
.subscribe-button{
    padding: 3% 5%;
    background-color: rgb(53,68,99);
    color: rgb(193,247,213);
    border-radius: 25px;
    border: none;
}
.email-btn{
    padding: 3% 5%;
    border-radius: 25px;
    border: none;
    margin: 5%;

}
.subscribe-heading{
font-size: 1.5rem;
    padding: 5%;
    font-weight: 800;;
}

/* -----------------footer ---- */

.footer-container{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}
.footer-heading ,.addr, .social , .learn-more{
   width: 40%;
   padding: 5%;
   display: flex;
   flex-direction: column;
   line-height: 1.7rem;
    
}


.social > a , .learn-more > a {
    color: black;
    text-decoration: none;
    
}

 .footer-heading{
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
 }
 .footer-end-tag{
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 3rem;
    font-family: flood-std;
    text-align: end;
 }





 /* ----------Desktop-view-------------- */



@media screen and (min-width:450px){
   
    
/* ----------nav bar--------- */
body{
    font-family: "sans-serif";
    
}
    .nav-bar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10%;
        
    }
    .donate-btn-card{
        font-size: 1rem;
        font-weight: bold;
        width: 10%;
        margin-top: 3%;
        margin-bottom:3%;
        margin-left:-5% ;
        margin-right: 10%;
    }
    .menu-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        align-items: center;
        margin-right: -80%;
    }
  .menu-card > pre{
    padding: 15%;
  }
    .nav-bar-heading{
        display: flex;
        justify-content: flex-start;
        margin-top: 10%;
        /* padding-right:10% ; */
        /* margin-right: 15%; */
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;

    }
/* ---------------hero-card-------------- */
.hero-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    text-align: left;
    height: 70vh;
    padding-left:10% ;
    padding-right:10% ;
    padding-bottom: 8%;
    
}
.hero-card-container{
    width: 600px;
    height: 500px;
    margin-left: -16%;
    text-align: left;
}
.hero-card-paragraph{
    font-size: 3rem;
    line-height: normal;
    text-align: left;
    padding-left: 9%;
    padding-bottom: 10%;
}
.hero-card-container-heading{
    padding: 3% 10%;
    background-color: rgb(53,68,99);
    color: white;
    display:flex;
    align-self: center;
    margin-top: -9%;    
    margin-left: -40%;
    
}
.hero-heading{
    font-size: 4rem;
    font-weight: 500;
    margin-top: -200px;
    line-height: 110%;
    margin-left: -30%;
}
.hero-card-container-link{
    position: relative;
    left:-8%
}

/* ------------actioncard---------- */
.actions-card{
    padding: 2% ;
    position: relative;
    padding-left: 5%;
   padding-right: 10%;
}
.actions-card-main-heading{
    display: inline-flex;
    padding: 1.5% 2%;
    margin-left: 43%;
    
     position: absolute;
}

.actions-card-articles{
   margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
}
.actions-card-heading{
    padding-bottom: 10px;
    font-size: 1.9rem;
}
.actions-card-heading:hover{
    border-bottom: black 1px solid;
    transition:ease;
}
.actions-card-article{
    width: 17%;
}
.actions-card-paragraph{
    font-size: medium;
    font-weight: 45;
    line-height: 1.5rem;
    color: rgb(79, 76, 76);
}

/* ----------------middle-container------------ */
.middle-container{
    padding: 5% 5% 5% 4% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
   
}
.middle-container-heading{
    width: 100%;
    margin-right: 79%;
    padding: 1% 2%;
    margin-left: 9%;
    text-align: center;
}
.middle-container-paragraph{
   margin-top: -50px;
   line-height: 1.2;
    font-size: 3rem;
    margin-left: 3.5%;
    text-align: left;
    margin-bottom: -50px;
}
.middle-container-cards{
    width: 20%;
    height: 500px;
    margin: 3%;
    padding: 1%;
    margin-top: -15%;
    margin-left: 8.5%;
    margin-right:1%;
}
.middle-container-cards-img{
    width: 100%;
    height: 150px;
    height: 200px;
    margin-left: 10%;
}
.middle-container-cards-heading{
    text-align: left;
    padding-left: 20px;
}
.middle-container-card-paragraph{
    font-size: 1rem;
    text-align: left;
    line-height: 1.7rem;
}
.middle-container-card-button{
    margin-left:0 ;
    padding-left: 10%;
    margin-right: 40%;
}

/* ---------------middle-2-container---------- */
.middle-2-container{
    /* margin-top: -347px; */
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.middle-2-container-heading{
    margin: 4%;
    padding: 1px;
    font-size: 4rem;
    margin-left: -15%;
}
.take-action-btn{
    padding: 4% 6%;
    margin-left: -15%;
}
.middle-2-container-cards{
    width: 100%;
}
.body{
    width: 80%;
}
.middle-2-container-cards-icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.middle-2-container-cards-heading{
    display: flex;
    align-self: flex-start;
    padding: 3% 5%;
    margin-bottom: 3%;
    position: relative;
    top: 18px;
    left:18px
}
.middle-2-container-cards-headings{
    
    font-size: 2.5rem;
}
.middle-2-container-cards-paragraph{
    line-height: 1.5rem;
}

/* .......middle-3-container......... */
.middle-3-container{
    margin-top: 3%;
    padding: 5%;
    padding-right: 9%;
}
.middle-3-container-img{
    width: 50%;
    margin-left: 50%;
     position: relative;
}
.stories{
    position: absolute;
    padding: 3% 5%;
    left:8%;
    top:-13%;
}
.middle-3-container-card{
    width: 38%;
    height: 250px;
    margin-top: -43%;
    margin-left: 6%;
    padding: 5%;
    position: relative;
    text-align: left;
}
.middle-3-container-card-main{
    font-size: 2rem;
    line-height: normal;
    font-weight: bold;

}
.middle-3-container-card-button{
    padding: 1% 2%;
    position: absolute;
    margin-top: -6%;
    margin-left: -38%;
}
.middle-3-container-card-text{
    font-size: 0.8rem;
}

/* ............middle-4-container....... */
.middle-4-container{
    
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    
}
.middle-4-container-headings-main-heading{
    width: 100%;
    font-size: 4.5rem;
    margin-bottom: 10%;
    line-height: 4rem;
    font-family: "flood-std";
}
.middle-4-container-img{
    width: 50%;
     margin-bottom: 10%;
}


.event{
    float:right;
    padding:1% 2%;
    top:-140px;
    width: 5%;
    height: 5%;
    left:-38%
}
.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 10px;
    margin-bottom:5% ;
    float: right;
    top:-100%;
  
}
.middle-4-container-headings{
    font-size: 3rem;
}
.middle-4-container-paragraph{
    font-size:1.2rem ;
    line-height: 2rem;
    padding-bottom: 5%;
}
.middle-4-container-button{     
    display: inline-block;
    width: 140px;
    padding: 10px 2px;
    margin-left: 20px;
}
.main-container-2{
    display: flex;
    flex-direction: row-reverse;
    
}
.latest-news{
    float: left;
    left:-87%;
    margin-bottom:25px;
}
.container2{
    position: relative;
    left: -30px;
    
}


/* -------------subscribe------ */
.subscribe{
    width: 100%;
    display: inline-flex;
    padding: 5%;    
    margin-top: -10%;
}
.subscribe-heading{
    width: 40%;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(53,68,99);
}
.subscribe-body{
    font-size: rgb(53,68,99);
    width: 40%;
    margin-top: -7%;
    margin-left: -5%;
    display: inline-block;
}
.subscribe-button{
    font-size: 1.2rem;
    padding: 2.5% 3%;
    background-color: rgb(53,68,99);
    color: rgb(193,247,213);
    border-radius: 30px;
    border: none;
    margin-right: 5%;
    width: 28%;
}
.email-btn{
    font-size: 1.2rem;
    padding: 2.5% 10% 2.5% 2.5%;
    width: 40%;
    border-radius: 30px;
    border: none;

}
/*-----------fotter-------- */
.footer-container{
    width: 100%;
    display:inline-flex;
    flex-direction: row;
   padding: 0%;
   padding-left: 5%;
}
.footer-heading{
    width: 8%;
    font-weight: bold;
}
.addr{
    width: 8%;
}
.addr {
    text-decoration: none;
    color: gray;
}
.social{
    width: 8%;
}
.social >a{
    text-decoration: none;
    color: gray;
}

.learn-more{
    width: 8%;
}
.learn-more > a{
    text-decoration: none;
    color: gray;
}
.footer-end-tag{
    width: 8%;
    margin-top: 5%;
    margin-left: 5%;
    
}
.underborder{
    border-bottom:1px solid black ;
    color: black;
}

}